name: Practice_Ci/Cd

on:
    push:
        branches: [main]

jobs:
    hello:
        runs-on: ubuntu-latest

        steps:
            - name: checkout
              uses: actions/checkout@v4
            
            - name: Thanks
              run: echo "say thank you"

            - name: show files
              run: ls -a

            - name: show current directory
              run: pwd
