name : practice ci/cd

on:
  push:
    branches: [main]

jobs:
    hello:
      runs-on: ubuntu-latest

      steps:
        - name: checkout the repo
          uses: actions/checkout@v4
        
        - name: say hello
          run: echo "hello from actions"
        
        - name: get file structure
          run: ls -a

        - name: current directory
          run: pwd
