name: practice_CI

on:
    push:
        branches: [main]

jobs:
    Hello:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Say hello
              run: echo "hello from github actions"

            - name: show files
              run: ls -a

            - name: print working directry
              run: pwd